<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/Signinas.css">


<nav>
        <a href="/products">HOME</a>
        <a href="#">ABOUT</a>
        <a href="#">SPECIALITIES</a>
        <a href="#">GALLARY</a>
        <a href="#">CONTACT</a>
        <div id="indicator"></div>
</nav>

<div>
	
	{{!-- <h1>YOU ARE...</h1> --}}
	<div class="text-center">
		<a href="/products/Signinas/PatientLogin">
			<img src="/images/seven.png" alt="Patient"
				style="width:250px;height:250px;margin-top:150px;margin-right:100px">
		</a>
		<a href="/products/Signinas/AdminLogin">
			<img src="/images/eight.png" alt="Administrator" style="width:250px;height:250px;margin-top:150px">
		</a>
		<a href="/products/Signinas/DoctorLogin">
			<img src="/images/nine.png" alt="Doctor"
				style="width:250px;height:250px;margin-top:150px;margin-left:100px">
		</a>

	</div>
	<div class="text-center" style="margin-top: 30px;font-size:35px;font-family: 'Bree Serif', serif;">
		<span style="margin-right:213px;">Patient</span>
		<span style="margin-right: 33px;margin-left:50px">Admin</span>
		<span style="margin-left:200px">Doctor</span>
	</div>
	{{!-- <p>Don't have an account?</p>
	<a href="/products/Signinas/Signupas" class="btn btn-primary">Join Now</a> --}}


</div>